body{
    background-color: #171717;
    color: white;
    margin-left: 230px;
    height: 4000px;
}

.header{
    display: grid;
    grid-auto-flow: column;

}

.logo{
    margin-top: 46px;
}

.button-call{
    height: 50px;
    width: 218px;
    background-color: #171717;
    border: 1px solid #E4B564;
    color: #E4B564;
    margin-top: 37px;
}

.call{
    float: left;
    padding-left: 26px;
}

.title{
    font-size: 50px;
}

.main-info{
    font-size: 20px;
    margin-top: 41px;
    width: 1182px;
}

.first-wrapper{
    display: grid;
    grid-template-columns: repeat(6, 220px);
    grid-template-rows: repeat(2, 468px) ;
    gap: 27px;
    margin-top: 41px;
    align-items: center;
    font-size: 20px;
    line-height: 468px;
    text-align: center;
}

.item-1{
    grid-area: 1 / 1 / 2 / 3;
    background-color: #634F2C;
}

.item-2{
    grid-area: 1 / 3 / 2 / 5;
    background-color: #B4A385;
}

.item-3{
    grid-area: 1 / 5 / 2 / 7;
    background-color: #E4B564;
}

.item-4{
    grid-area: 2 / 1 / 3 / 4 ;
    background-color: #635A4A;
}

.item-5{
    grid-area: 2 / 4 / 3 / 7;
    background-color: #B08C4D;
}

.title{
    margin-top: 161px;
}

.second-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: repeat(8, 102px);
    gap: 30px;
    margin-top: 94px;

}

.second-item1{
    grid-area: 1 / 1 / 4 / 2;
    background-color: #0E0E0E;
}

.second-item2{
    grid-area: 4 / 1 / 9 / 2;
    background-color: #1F1F1F;

}

.second-item3{
    grid-area: 1 / 2 / 5 / 3;
    background-color: #242424;

}

.second-item4{
    grid-area: 5 / 2 / 9 / 3;
    background-color: #E4B564;
}

.second-item5{
    grid-area: 1 / 3 / 4 / 4;
    background-color: #1F1F1F;
}

.second-item6{
    grid-area: 4 / 3 / 7 / 4;
    background-color: #0E0E0E;
}

.second-item7{
    grid-area: 7 / 3 / 9 / 4;
    background-color: #0A0909;
}

.second-text{
    padding-left: 52px;
    padding-top: 44px;
    font-size: 20px;
    font-weight: 700;
}

.second-line{
    font-weight: 400;
}

.footer{
    background-color: #0E0E0E;
}

.footer-title{
    display: grid;
    grid-auto-flow: column;
    margin-top: 172px ;
}

.footer-info{
    font-size: 50px;
}

.button-project{
    border: 1px solid #E4B564;
    background-color: #0E0E0E;
    color: #E4B564;
    width: 180px;
    height: 50px;
    margin-top: 33px;
}

.third-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
    align-items: center;
    font-size: 20px;
    line-height: 468px;
    text-align: center;
    margin-top: 72px;
}

.third-item1{
   background-color: #634F2C;
}

.third-item2{
    display: grid;
    background-color: rgba(232, 210, 171, 0.76);
    line-height: 178px;
}

.third-item3{
    background-color: #E4B564;
}

.third-item4{
    background-color: #635A4A;
}

.third-item5{
    background-color: #B08C4D;
}

.third-item6{
    background-color: #634F2C;
}

